h1 {
    text-align: center;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

td, tr, table {
    margin: 0px;
    padding: 0px;
    
}

td {
    width: 12.5%;
    height: 12.5%;
}

table {
/*    width: 70vh;
    height: 70vh;*/
    border: 3px solid black;
    border-collapse: collapse;
    margin: auto;
    margin-top: 80px;
}