h1 {
    text-align: center;
}

.black {
    background-color: #2a9d00;
}

.white {
    background-color: white;
}

td, tr, table {
    margin: 0px;
    padding: 0px;
    
}

table {
    border: 3px solid black;
    border-collapse: collapse;
    margin: auto;
    margin-top: 80px;
}

tr {
    height: 12.5%;
}

td {
    width: 12.5%;
    height: 12.5%;
    text-align: center;
}

img {
    width: 85%;
    height: 85%;
    
}